<link rel="stylesheet" href="home.component.css">

<h1>Promoções em Destaque</h1>




<div class="content">
  <div class="alinhamento" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Dell G15</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/dellg15.webp">
        <mat-card-content>
          <p class="negrito">
            😱😱PROMOÇÃO IMPERDIVEL PREÇO HISTÓRICO 2022😱😱
          </p>
          <p>
            RTX 3050 - 8GB RAM - RYZEN 5 5600H - 512GB SSD 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://tidd.ly/3rh4Wns"><button mat-button >COMPRAR</button></a>
        </mat-card-actions>
      </mat-card>

      <br>

      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Acer Nitro 5 </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/nitro.png">
        <mat-card-content>
          <p class="negrito">
            🔴  PROMOÇÃO DE DIA DAS MÃES 🔴 
          </p>
          <p>
            App Submarino - FHD 120hz - I5 10500H - GTX 1650 - 8GB - 512GB SSD - Linux
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://tidd.ly/3L0adb8 "><button mat-button>COMPRAR</button></a>
        </mat-card-actions>
      </mat-card>

<br>

      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Lenovo Ideapad Gaming 3i </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/3i.webp">
        <mat-card-content>
          <p class="negrito">
            🔥🔥 Precinho top parcelado🔥 🔥
          </p>
          <p>
            🔴 i5 10300H - GTX 1650 - 8GB - 256GB SSD - Linux 🔴 
          </p>
        </mat-card-content>
       <mat-card-actions>
         <a href="https://tidd.ly/3JikK0l"><button mat-button>COMPRAR</button></a>
        </mat-card-actions>
        
      </mat-card>

    </div>
  </div>
  </div>



